html {
  overflow: hidden;
}

@keyframes slideright {
  from {
    background-position: 20000%;
  }
  to {
    background-position: 0%;
  }
}

.background {
  position: absolute;
  background-image: url("./../assets/banner-1544x500.png");
  height: 267px;
  width: 100%;
  animation: slideright 600s infinite linear;
  /* bottom: 0 ; */
}

.dinosaur {
  background-image: url("./../assets/dinotamano.png");
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  background-repeat: no-repeat;
}

.cactus {
  background-image: url(./../assets/f2_1.png);
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.score {
  font-family: "Pixelify Sans";
  color: #535353;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.restart {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: transform 1s ease;
}

.restart:hover {
  transform: scale(1.2) translate(-30px, -30px);
}
